body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.form{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,0) 100%);
    border: 2px solid rgb(135, 146, 146);
    height: 100px;
    width: 300px;
    margin: auto;
    background-color: aqua;
    margin-top: 5px;
    border-radius: 6%;
}
button{
    text-align: center;
    padding-top: 5px;
    margin-left: 15px;
    border-radius: 20%; 
    cursor: pointer;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
}
.button1{
    cursor: pointer;
    background-color: #ff0000;
    color: aliceblue;
}
.button2{
    cursor: pointer;
    background-color: goldenrod;
}
table{
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    width: 800px;
    height: 200px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}
td{
    border: 2px solid black;
    text-align: center;
    padding: 12px 15px;
}
th{
    border: 2px solid black;
    border-bottom: 1px solid black;
    padding: 12px 15px;
}
tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
tr:nth-of-type(even) {
    background-color: #47c643;
}
tr:last-of-type {
    border-bottom: 2px solid #009879;
}
tr.active-row {
    font-weight: bold;
    color: #009879;
}
input{
    --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}